.main_header_dogs{
  min-height: 600px;
  height: 600px;
  &:before{
    background: url(../img/dog5.jpg) no-repeat 0 100%;
    background-position: 50% 30%;
    background-size: cover;
    // background-position: top;
    @include rwd(1400){
      background-position: center;
    }
  }

  .header_description_dogs{
    // width: 60rem;
    // top: 8rem;/////////////////////////////////////////////////////////////////


    &:before{
      width: 90%;
  		height: 35rem;
      @include md{
        height: 30rem;
      }
      @include sm{
        left: -10%;
        height: 26rem;
      }
    }
    // p{
    //   font-family: $default-font;
    //   font-size: 3rem;
    //   color: $text-white;
    //   text-transform: uppercase;
    //   padding-bottom: 0;
    //   position: relative;
    //   opacity: 0.6;
    //   @include md{
    //     font-size: 2.2rem;
    //   }
    //   @include sm{
    //     font-size: 2rem;
    //   }
    // }
    // .violet_h{
  	// 	font-size: 7rem;
    //   padding-bottom: 0;
    //   white-space: nowrap;
    //   color: $extra-accent;
    //   position: relative;
    //   @include md{
    //     font-size: 6rem;
    //   }
    //   @include sm{
    //     font-size: 3.5rem;
    //   }
    // }
    // @include rwd(1600){
    //   // top: 6rem;
    // }
    // @include md{
    //   width: 40rem;
    //   // top: 16rem;
    // }
    // @include sm{
    //   width: 34rem;
    // }
    // @include xs{
    //   width: 30rem;
    // }
  }


  .details{
    &:before{
      top: -10rem;
    }
  }
  @include md{
    height: 450px;
    min-height: 450px;
  }
}
// .for_arrow{
//   .arrow{
//     // position: absolute;
//     bottom: 10%;
//     right:20%;
//     position: fixed;
//     // display:none;
//   }
// }
.for_arrow{
  .arrow{
    display: block;
    z-index: 100;
    @viewport{
      display:none;
    }
  }
}
#go-top {
  position: fixed;
  bottom: 60%;
  right:1%;
  display: none;
  @include md{
    right: -0.6rem;
    // display: none;
  }
}
// @viewport {
//   #go-top {
//     display: none;
//   }
// }
// .fixed_arrow{
//   display: block;
// }
// .main_header_dogs.fixed_header{
//   .header_description_dogs{
//
//       top:18.8rem;////////////////////////////////////////////////////////
//
//   }
// }
// .all_dogs{
// height: 382px;
// .blog_wrap{
//
//   position: relative;
// }
.blog_articles{
  // top:-50%;
  width: 60%;
  padding: 4rem 0;
  // position: absolute;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: center;
  margin: 0 auto;
  margin-top: -10%;
  // top: 10%;
  // position: absolute;
  @include md{
    margin-top: 0;
  }
  @include sm{
    width: 76%;
  }
}
.one_article{

  h6{
    padding: 1.4rem 0;
    font-size: 1.6rem;
    @include lg{
      font-size: 1.4rem;
    }
  }
  .blog_img{
    height: 40rem;
    img{
      height: auto;
      width: 100%;
      @include lg{
        height: 100%;
        width:auto;
      }
    }
    @include md{
      height: 30rem;
    }
    @include sm{
      height: 20rem;
    }
  }
}
.articles-nav{
  .num-wrap{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem 0;
  li{
    padding: 0 1.6rem;
    a{
      color: #ccc;
      &:active{
        color:$accent;
        border-bottom: 2px solid $accent;
      }
    }
    }
  }
}
