.main_header{
  .background_img_dog{
    background-position: 50% 30%;
    background-size: cover;
    // background-position: top;
    @include rwd(1400){
      background-position: center;
    }
  }
}
.main_header_dogs{
  min-height: 600px;
  height: 600px;

  .header_description_dogs{
    width: 60rem;
    // top: 8rem;/////////////////////////////////////////////////////////////////


    &:before{
      width: 90%;
  		height: 35rem;
      @include md{
        height: 30rem;
      }
      @include sm{
        left: -10%;
        height: 26rem;
      }
    }
    p{
      font-family: $default-font;
      font-size: 3rem;
      color: $text-white;
      text-transform: uppercase;
      padding-bottom: 0;
      position: relative;
      opacity: 0.6;
      @include md{
        font-size: 2.2rem;
      }
      @include sm{
        font-size: 1.6rem;
      }
    }
    .violet_h{
  		font-size: 7rem;
      padding-bottom: 0;
      white-space: nowrap;
      color: $extra-accent;
      position: relative;
      @include md{
        font-size: 6rem;
      }
      @include sm{
        font-size: 3rem;//не перебивает
      }
    }
    @include rwd(1600){
      // top: 6rem;
    }
    @include md{
      width: 40rem;
      // top: 16rem;
    }
    @include sm{
      width: 90%;
    }
    // @include xs{
    //   width: 28rem;
    // }
  }


  .details{
    &:before{
      top: -10rem;
    }
  }
  @include md{
    height: 450px;
    min-height: 450px;
  }
}
// .main_header_dogs.fixed_header{
//   .header_description_dogs{
//
//       top:18.8rem;////////////////////////////////////////////////////////
//
//   }
// }
// .all_dogs{
// height: 382px;
.main_dogs{

  // position: relative;
  padding-bottom: 10rem;
  min-height: 380px;
  .pic_top{
    margin-top: -6%;
    @include xl{
      margin-top: -2%;
    }
    // @include md{
    //   margin-top: 0;
    // }
  }
  .one_dog{
    width: 100%;
    position: relative;
  	overflow: hidden;
    padding: 0 0.8rem;
    // top: 0;
    min-height: 280px;//// на медиазапрос
    box-shadow: 0 8px 14px rgba(6,6,6,0.2);
    // padding-bottom: 2rem;
    &:hover .overlay {
  		background-color: rgba(114, 107, 177, 0.5);
  		opacity: 1;
  	}
    .overlay{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
  		color: $text-white;
  		font-size: 2.4rem;
  		text-align: center;
  		opacity: 0;
  		overflow: hidden;
  		display: flex;
  		align-items: center;
      justify-content: center;
  		padding: 0 3%;
  		transition: all 0.5s ease;
      span{
        text-align: center;
      }
    }

    // margin: 0 0 0;
    // &:hover .overlay{
    //
    // }
    img{
  		position: absolute;
  		width: auto;
  		height: 100%;
  		margin: 0 auto;
  		left: 50%;
  		top: 50%;
  		transform: translate(-50%,-50%);
  	}
    @include rwd(1600){
      min-height: 200px;
    }
    @include xl{
      min-height: 350px;
    }
    @include lg{
      min-height: 300px;
    }
    @include md{
      min-height: 400px;
    }
    @include sm{
      min-height: 300px;
    }
  }
  h5{
    font-size: 2rem;
    text-transform: uppercase;
    padding: 2.4rem 0;
    @include xl{
      padding: 1.5rem 0 3rem;
    }
  }
  @include md{
    padding-top: 4rem;
  }
}
// }
