.main_header_dog{
  min-height: 10.8rem;
  height: 10.8rem;
  @include md{
    min-height: 8rem;
    height: 8rem;
  }
  &:before{
    background: url(../img/dog5.jpg) no-repeat 0 100%;
    background-position: 0 25%;
    background-size: cover;
  }
}

.about_dog{
  padding: 8rem 0 0;
  .dogs_photos{
    &:before{
      content: 'b';
  		position: absolute;
  		font-size: 84rem;
  		color: $extra-backcolor;
  		text-transform: uppercase;
  		right: 50%;
  		top:-55%;
  		transform: rotate(180deg);
  		z-index: -1;
      @include md{
  			display: none;
  		}
    }
    .big_dog_img{
      height: 40rem;
    	width: 100%;
    	// margin: 0 0;
    	position: relative;
    	overflow: hidden;
      box-shadow: 0 0 18px 2px rgba(6,6,6,0.1);
      margin-top: 8rem;
      @include rwd(1600){
        height: 35rem;
      }
      @include lg{
        height: 25rem;
        margin-top: 12rem;
      }
      @include md{
        margin-top: 0;
      }

      img{
        position: absolute;
    		width: auto;
    		height: 100%;
    		margin: 0 auto;
    		left: 50%;
    		top: 50%;
    		transform: translate(-50%,-50%);
        @include md{
          width: 100%;
      		height: auto;
        }
        @include sm{
          width: auto;
      		height: 100%;
        }
      }
    }
  }
  .small_carousel{
    padding: 2rem 0;
    display: flex;//не работает
    // align-items: flex-end;
    max-width: 100%;
    // position: relative;
    .small_dog_img{
      display: block;
      height: 10rem;
      width: 10rem;
      position: relative;
    	overflow: hidden;
      box-shadow: 0 0 18px 2px rgba(6,6,6,0.1);
      // margin: 0 10rem 0 0;
      margin: 0 5px;
      img{
        position: absolute;
    		width: auto;
        display: block;
    		height: 100%;
    		margin: 0 auto;
    		left: 50%;
    		top: 50%;
    		transform: translate(-50%,-50%);
      }
      @include rwd(1600){
        height: 8rem;
      }
      @include lg{
        height: 7rem;
      }
      @include md{
        height: 10rem;
      }
    }
    .right_arrow{
      // position: absolute;
      // right: 0;
      // top: 0;
      width: 10%;//??????????????????????????????????????????????????????????????
      display: flex;
      align-items: center;
      justify-content: center;
      .arrow{
        padding: 0 4rem;///не работант
      }
    }
  }
.dogs_info{
  @include md{
    padding-top: 3rem;
  }
}
.one_dog_info{
  padding: 4rem 0;
  @include md{
    padding: 0;
  }
  .dogs_info{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    .more_inf{
      padding-top: 4rem;
      right: 1.5rem;
      bottom: 0.5rem;
    }
  }
}
  @include md{
    padding: 6rem 0;
  }
  h5{
    font-size: 2rem;
    text-transform: uppercase;
    padding: 2.4rem 0;
  }
  ul{
    padding: 2rem 0;
    li{
      font-family: $text-font;
      font-size: 1.8rem;
      padding: 0.6rem 0;
    }
  }
}

.one_dog{
  width: 100%;
  position: relative;
  overflow: hidden;
  // padding: 0 0.8rem;
  // top: 0;
  min-height: 400px;//// на медиазапрос
  box-shadow: 0 8px 14px rgba(6,6,6,0.2);
  // padding-bottom: 2rem;
  &:hover .overlay {
    background-color: rgba(114, 107, 177, 0.5);
    opacity: 1;
  }
  .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: $text-white;
    font-size: 2.4rem;
    text-align: center;
    opacity: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 3%;
    transition: all 0.5s ease;
    span{
      text-align: center;
    }
  }
  img{
    position: absolute;
    width: auto;
    height: 100%;
    margin: 0 auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }
  @include lg{
    min-height: 300px;
  }
  @include md{
    min-height: 400px;
  }
  @include sm{
    min-height: 300px;
  }
}
