.main_header_dog{
  min-height: 10.8rem;
  height: 10.8rem;
  @include md{
    min-height: 8rem;
    height: 8rem;
  }
  &:before{
    background: url(../img/dog5.jpg) no-repeat 0 100%;
    background-position: 0 25%;
    background-size: cover;
  }
}
///////////////////////////////////////////////////////фото и карусель

//////////////////////////////////////////////////////////карусель
.one_dog{
  width: 100%;
  position: relative;
  overflow: hidden;
  // padding: 0 0.8rem;
  // top: 0;
  min-height: 400px;//// на медиазапрос
  box-shadow: 0 8px 14px rgba(6,6,6,0.2);
  // padding-bottom: 2rem;
  &:hover .overlay {
    background-color: rgba(114, 107, 177, 0.5);
    opacity: 1;
  }
  .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: $text-white;
    font-size: 2.4rem;
    text-align: center;
    opacity: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 3%;
    transition: all 0.5s ease;
    span{
      text-align: center;
    }
  }
  img{
    position: absolute;
    width: auto;
    height: 100%;
    margin: 0 auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }
  @include lg{
    min-height: 300px;
  }
  @include md{
    min-height: 400px;
  }
  @include sm{
    min-height: 300px;
  }
}
