@import "vars";
@import "fonts";
@import "libs";
@import "media";
*{
	margin: 0px;
	padding: 0;
	box-sizing: border-box;
}
html{
	font-size: 10px;
}
body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	font-family: $default-font;
	overflow-x: hidden;
	background-color: #fff;
	ul{
		list-style-type: none;
	}
	p{
		font-size: 18px;
		font-family:  $text-font;
		color: $text-dark;
		padding-bottom: 2.5rem;
	}
	a{
		transition: 0.3s;
		&:hover{
				text-decoration: none;
				color: $extra-accent;
		}
	}
	main{
		a{
			color: $text-dark;

		}
	}

}
//
// .img-responsive {
// 	display: block;
// 	max-width: 100%;
// 	height: auto;
// 	&.img-width {
// 		width: 100%;
// 	}
// }


.main_header{
	background: rgba(36,20,42,0.4);
	min-height: 700px;
	height: 100vh;
	position: relative;
	color: $text-white;
	&:before {
		content: '';
		background: url(../img/mainimg.jpg) no-repeat 0 100%;
		background-size: cover;
		background-position: bottom;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: -2;
	}
	a{
		color: $text-white;

	}
}


.container_big{
	max-width: 1600px;
	margin: 0 auto;
	padding: 5.4rem 0 1.6rem;
	&:before{
		content: 'choс';
		position: absolute;
		font-size: 50rem;
		color: $text-dark;
		text-transform: uppercase;
		opacity: 0.12;
		left: 52%;
		z-index: -1;
	}
		@include rwd(1600) {
			max-width: 1400px;
		}
		@include lg {
			max-width: 1100px;
		}
		@include md {
			max-width: 760px;
		}
	}

.container_small{
		max-width: 1200px;
		margin: 0 auto;
		position: relative;
		display: flex;
		@include rwd(1600){
			max-width: 1000px;
		}
		@include xl{
			max-width: 960px;
		}
		@include lg{
			max-width: 900px;
		}
		@include md{
			max-width: 760px;
		}
	}

.header_menu{
	padding: 5.4rem 2rem;
	display: flex;
	justify-content: space-between;
	.logo {
		img{
			max-width: 100%;
			height: auto;
				@include md {
					max-width: 10%
				}
			}
		}
	}
.details{
	font-size: 1.8rem;
	text-transform: uppercase;
	text-align: right;
	@include lg{
		font-size: 1.6rem;
	}
}
.flex_menu{
	display: flex;
	justify-content: flex-end;
	white-space: nowrap;//??????
	li{
		padding-left: 6.8rem;
	}
	@include lg{
		li{
			padding-left: 4rem;
		}
	}
}
.contacts{
	display: inline-flex;
	justify-content: flex-end;
}
.phone{

}
.social-icons{
	padding-left: 4rem;
	a{
		padding-left: 1.8rem;
	}
}

.header_content{
	position: relative;
	@include lg{
		padding-top: 14rem;
	}
}

.header_description {
	position: absolute;
	top: 8rem;
	margin: auto;
	display: flex;
	align-items: flex-start;
	justify-content:center;
	flex-direction: column;
	&:before{
		content: '';
		position: absolute;
		left: -10%;
		width: 62rem;
		height: 62rem;
		border: 16px solid rgba(114, 107, 177, 0.4);
		z-index: 0;
	}
	h1{
		font-size: 10rem;
		line-height: 1.1;
		padding-bottom: 2rem;
		position: relative;
		text-transform: uppercase;
	}
	h3{
		font-size: 4.2rem;
		opacity: 0.6;
		padding-bottom: 8rem;
		position: relative;
		text-transform: uppercase;
	}
	@include rwd(1600){
		top: 4rem;
		&:before{
			width: 50rem;
			height: 50rem;
		}
		h1{
			font-size: 8rem;
		}
		h3{
			font-size: 3rem;
		}
	}
	@include xl{
		left: 10%;
	}
	@include lg{
		&:before{
			width: 40rem;
			height: 40rem;
		}
		h1{
			font-size: 6rem;
		}
		h3{
			font-size: 2rem;
		}
	}
}

.more_inf{
	font-size: 1.8rem;
	position: relative;
	span{
		z-index: 1;
		position: relative;
	}
	&:before{
		content:'';
		position: absolute;
		width: 4.8rem;
		height: 4.8rem;
		background-color: $extra-accent;
		opacity: 0.6;
		left: 11.5rem;
		bottom: -0.5rem;
		z-index: 0;
	}
}

.story_content{
	padding: 14rem 0 14rem;
	position: relative;
	&:before{
		content: 'choco';
		position: absolute;
		font-size: 13.6rem;
		color: $accent;
		text-transform: uppercase;
		transform: rotate(-90deg);
		left: -35%;
		top: 30%;
		z-index: 0;
	}
	.row{
		align-items: flex-end;
	}
	@include lg{
		&:before{
			display: none;
		}
	}
}
.first_column_story{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: space-between;
	.more_inf{
		right: 3.2rem;
		bottom: 0.5rem;
	}
	&:before{
		content: 'c';
		position: absolute;
		font-size: 84rem;
		color: $extra-backcolor;
		text-transform: uppercase;
		right: 50%;
		top:-80%;
		transform: rotate(180deg);
		z-index: -1;
	}
}
.second_column_story{
	position: relative;
	top: 4rem;///??????
	.girl_img{
	height: 40rem;
	width: 100%;
	background: url(../img/dog_girl.jpg) no-repeat center center;
	background-size: cover;
	top: -130%;
	position: absolute;
	box-shadow: 0 8px 14px rgba(6,6,6,0.2);
	@include rwd(1600){
		height: 35rem;
		top: -120%;
	}
	@include xl{
		height: 30rem;
		top: -95%;
	}
	@include lg{
		top: -90%;///не работает
	}
	@include md{
		top: -50%;
	}
	}
}


	.dark_h{
		font-size: 7.2rem;
		color: $text-dark;
		text-transform: uppercase;
		line-height: 1.1;
		padding-bottom: 4.8rem;
	}

	.violet_h{
		font-size: 4.2rem;
		text-transform: uppercase;
		color: $accent;
		padding-bottom: 2.8rem;
	}
	// .photo_background{
	// 	height: 526px;
	// 	position: relative;
	// 	&:before {
	// 		content: '';
	// 		background: url(../img/dog_child.jpg) no-repeat 0 100%;
	// 		background-size: cover;
	// 		background-position:top;
	// 		position: absolute;
	// 		left: 0;
	// 		top: 0;
	// 		width: 100%;
	// 		height: 100%;
	// 		z-index: -2;
	// 	}
	// }
	.light-overlay{
		position: relative;
		&:before{
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background-color: $extra-backcolor;
			opacity: 0.8;
		}
	}
	.our_puppies{
		height: 672px;
		background: url(../img/puppi.jpg) no-repeat 0 100%;
		background-size: cover;
		background-position: top;
	}
	.puppies_content{
		padding: 12rem 0 0;
	}
.first_column_puppi{
	position: relative;
	.puppi_img{
		height: 40rem;
		width: 100%;
		background: url(../img/puppies.jpg) no-repeat center center;
		background-size: cover;
		top: 100%;
		position: absolute;
		box-shadow: 0 8px 14px rgba(6,6,6,0.2);
		z-index: 1;
		}
	}
.second_column_puppi{
	font: 1.8rem "roboto-light";
	position: relative;
	li{
		padding: 3rem 0;
		padding-left: 20%;
		position: relative;
		&:before{
			content: '';
			position: absolute;
			width: 3rem;
			height: 3rem;
			background-color: #fff;
			border-radius: 3rem;
			left: 7%;
			top: 2.8rem;///??????
		}
	}
}
.our_dogs{
	padding: 19rem 0 9rem;
}
.img_dog{
	height: 55.6rem;////????
	width: 100%;
	margin: 4.4rem 0 0;
	position: relative;
	overflow: hidden;
	&:hover .overlay {
		background-color: rgba(114, 107, 177, 0.5);
		opacity: 1;
	}
	.overlay{
		position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
		color: $text-white;
		font-size: 3rem;
		text-align: center;
		opacity: 0;
		overflow: hidden;
		display: flex;
		align-items: center;
		padding: 0 3%;
		transition: all 0.5s ease;
	}
	img{
		position: absolute;
		width: auto;
		height: 100%;
		margin: 0 auto;
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
	}
	@include rwd(1600){
		height: 45rem;
	}
}



.second_column_dog{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: space-between;
	.imgs_dogs{
		width: 100%;
	}
	.more_inf{
		right: 3.2rem;
		bottom: 0.5rem;
	}
}


.reviews{
	background-color: $extra-backcolor;
	position: relative;
	display: flex;
	align-items: center;
	.review_inner{
		width: 55%;
		margin: 0 auto;
	}
}


.reviews_content{
	padding: 8rem 0;
	.review_item{
		text-align: center;
		&:before{
			content: '' ;
			background: url(../img/quot.png) no-repeat center center;
			width: 6.2rem;
			height: 5.8rem;
			background-size: contain;
			display: block;
    	margin: 0 auto;
		}
	}
	h5{
		font-size: 3.6rem;
		padding: 4rem 0;
	}
	p{
		font-size: 2.1rem;
		font-style: italic;
	}
	h6{
		font-size: 1.8rem;
		padding-top: 2.4rem;
	}
}
.arrow{
	padding: 0 6.8rem;
	font-size: 4rem;
	color: $extra-accent;
	&:hover{
		cursor: pointer;
		color: $accent;
	}
}
.avatar{
	position: relative;
	height: 100px;
	width: 100px;
	border-radius: 50%;
	margin: 0 auto;
	overflow: hidden;
	img{
		position: absolute;
		width: auto;
		height: 100%;
		margin: 0 auto;
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
	}
}
.blog{
	padding: 5.4rem 0;
	.blog_head{
		text-align: center;
		width: 50%;
		margin: 0 auto;
		padding: 6rem 0;
	}
	h6{
		padding: 1.4rem 0;
		font-size: 1.6rem;
	}
	.blog_img{
		position: relative;
		overflow: hidden;
		width: 100%;
		height: 238px;
		img{
			position: absolute;
			width: auto;
			height: 100%;
			margin: 0 auto;
			left: 50%;
			top: 50%;
			transform: translate(-50%,-50%);
		}
	}
	.blog_footer{
		border-top: 1px solid #ccc;
		padding: 1.2rem 0;
		display: flex;
		justify-content: space-between;
		white-space: nowrap;
		// width: 80%;
		p{
			font-size: 1.4rem;
			padding-right: 1.4rem;
		}
		a{
			font-size: 1.4rem;
			color: $accent;
			// padding-right: 10%;///???
		}
	}
}
.form_back{
	padding: 5.4rem 0;
	text-align: center;
	.form_head{
		// text-align: center;
		width: 50%;
		margin: 0 auto;
		padding: 6rem 0;
		h5{
			font-size: 4.2rem;
		}
	}
}
.form_questions{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 40%;
		justify-content: center;
		margin: 0 auto;
		// text-align: center;
		.field{
			width: 100%;
			display: flex;
			margin-bottom: 2.8rem;
			font-family: $text-font;
			font-size: 1.8rem;
			box-shadow: 0 0 18px 2px rgba(6,6,6,0.1);

			// flex-grow: 1;
			input{
				width: 100%;
				height: 5rem;
				border: 0;
				padding-left: 2.2rem;
			}
			textarea{
				width: 100%;
				height: 16rem;
				border: 0;
				padding-left: 2.2rem;
				padding-top: 2.2rem;
				resize: none;
			}
	}
}
.send{
	display: flex;
	width: 100%;
	justify-content: flex-end;
	button{
		background-color: $accent;
		border: 0;
		height: 6.2rem;
		width: 19.6rem;
		color: $text-white;
		cursor: pointer;
		transition: 0.3s;
		&:hover{
			background-color: $extra-accent;
		}
	}
}
.dark-overlay{
	position: relative;
	&:before{
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(36,20,42,0.4);
	}
}


	.footer_background{
		background: url(../img/dog_child.jpg) no-repeat 0 100%;
		background-size: cover;
		background-position: top;
	}


	.foot_content{
		padding: 10rem 0 ;
		h2,p{
			color: $text-white;
			margin-bottom: 0;
			padding-bottom: 2rem;
		}
		.social-icons{
			padding: 4rem 0;
			.fa-instagram{
				color: #ff7fd6;
			}
			.fa-facebook-f{
				color: #3b5998;
			}
			.fa-twitter{
				color: #1da1f2;
			}
			.fa-google-plus-g{
				color: #dd4b39;
			}
			a{
				padding: 0 1.8rem 0 0;
			}
		}
		.copyright{
			color: $extra-accent;
		}
		.address{
			padding: 10rem 0;
			font: "montserrat-bold", 1.8rem;
			text-align: right;
			color: $text-white;
			position: relative;
			&:before{
				content: '';
				position: absolute;
				border: 16px solid rgba(114, 107, 177, 0.4);
				z-index: 0;
				height: 23rem;
				width: 90%;
				left: 20%;
				top: 15%;

			}
		}
	}





// Always at the end
