@import "vars";
@import "fonts";
@import "libs";
@import "media";
*{
	margin: 0px;
	padding: 0;
	box-sizing: border-box;
}
html{
	font-size: 10px;
}
body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	font-family: $default-font;
	overflow-x: hidden;
	background-color: #fff;
	ul{
		list-style-type: none;
	}
	p{
		font-size: 18px;
		font-family:  $text-font;
		color: $text-dark;
		padding-bottom: 2.5rem;
	}
	a{
		transition: 0.3s;
		&:hover{
				text-decoration: none;
				color: $extra-accent;
		}
	}
	main{
		a{
			color: $text-dark;
		}
	}
}
.main_header{
	background: rgba(36,20,42,0.4);
	min-height: 850px;
	height: 100vh;
	position: relative;
	color: $text-white;
	// padding: 18rem 0;
	.background_img_dog{
		background-size: cover;
		background-position: 50% 30%;;

		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: -2;
	}
	// &:before {
	// 	content: '';
	// 	background: url(../img/mainimg.jpg) no-repeat 0 100%;
	// 	background-size: cover;
	// 	background-position: bottom;
	// 	position: absolute;
	// 	left: 0;
	// 	top: 0;
	// 	width: 100%;
	// 	height: 100%;
	// 	z-index: -2;
	// }
	a{
		color: $text-white;
	}
	// @include lg{
	// 	.active_nav{
	// 		display: none;
	// 	}
	// }
}
.main_header.active_nav{
	.header_description{
		// z-index: -10000rem;//ошибка
	}
}
.container_big{
	max-width: 1600px;
	margin: 0 auto;
		@include rwd(1600) {
			max-width: 1500px;
		}
		@include xl {
			max-width: 1100px;
		}
		@include lg {
			max-width: 990px;
		}
		@include md {
			max-width: 760px;
		}
	// 	&:before{
	// 		content: 'choс';
	// 		position: absolute;
	// 		font-size: 50rem;
	// 		color: $text-dark;
	// 		text-transform: uppercase;
	// 		opacity: 0.12;
	// 		left: 52%;
	// 		z-index: -1;
	// 		@include lg{
	// 			display: none;
	// 		}
	// } КУДА ПОСТАВИТЬ??????
}

.container_small{
		max-width: 1200px;
		margin: 0 auto;
		// padding: 0 4rem;
		position: relative;
		// display: block;
		@include rwd(1600){
			max-width: 1000px;
		}
		@include xl{
			max-width: 990px;
		}
		@include lg{
			max-width: 770px;
		}
		@include md{
			max-width: 570px;
		}
		@include sm{
			max-width: 350px;
		}
		@include xs{
			max-width: 300px;
		}
	}
.left_column{
	padding-right: 3rem;
	@include md{
		padding-right: 1.5rem;
	}
}
.right_column{
	padding-left: 3rem;
	@include md{
		padding-left: 1.5rem;
	}
}
// .header_menu_wrap{
// 	height: 10.8rem;
// }
.logo_menu_align{
	display: flex;
	// align-items: center;
	width: 100%;
	justify-content: space-between;
	padding: 2rem;
}
.header_menu{
	// padding: 2rem 2rem;
	display: flex;
	justify-content: space-between;
	// height: 16rem;
	align-items: flex-start;
	// position: fixed;
	// top: 0;
	z-index: 10;
	height: 8rem;
	.logo {
		img{
			max-width: 100%;
			height: auto;
				@include md {
					max-width: 50%
				}
				@include sm {
					max-width: 70%;
				}
				@include xs{
					max-width: 100%;
				}
			}
		}
		@include md{
			// align-items: center;
		}
	}
.details{
	font-size: 1.6rem;
	text-transform: uppercase;
	text-align: right;
	padding-top: 2rem;
	z-index: 1000;
	// display: flex;
	// align-items: center;
	.contacts{
		// display: inline-block;
	}
	// position: relative;
	// .flex_menu{
	// 	display: flex;
	// 	justify-content: flex-end;
	// 	position: absolute;
	// }
	// position: fixed;
	@include xl{
		font-size: 1.4rem;
	}
	@include lg{
		font-size: 1.2rem;
	}
	@include md{
		// font-size: 1.2rem;///???
		display: none;
		.flex_menu{

			// background: rgba(36,20,42,0.4);
			// position: absolute;
			// z-index: 10;
			// width: 100%;
			// left:0;
			// top: 100%;
		}
}

}
// .burger{
// 	display: flex;
// 	align-items: center;
// 	justify-content: center;
.burger{
	height: 100%;
	z-index: 1000;
	padding: 2rem;
.menu_button{
	display: none;
	width: 32px;
	height: 20px;
	background-image: linear-gradient(to left, $text-white, $text-white);
	background-size: 100% 4px;
	background-repeat: no-repeat;
	background-position: 50%;
	position:relative;
	top: 1rem;
	cursor: pointer;
	transition: 0.3s;
	&:before,
	&:after{
		content:"";
		position: absolute;
		border-bottom:4px solid $text-white;
		width: 100%;
		height: 4px;
		left: 0;
		top: 80%;
		transition: 0.3s;
	}
	&:before{
		top: 0;
	}
	@include md{
		display: block;
		min-width: 32px;
	}
}
}
.flex_menu{
	display: flex;
	justify-content: flex-end;
	white-space: nowrap;//??????

	li{
		padding-left: 6.8rem;
	}
	@include lg{
		li{
			padding-left: 4rem;
		}
	}
	@include md{
		li{
			padding: 1.8rem 0;
		}
	}
}

.contacts{
	display: inline-flex;
	justify-content: flex-end;
}
.social-icons{
	padding-left: 4rem;
	a{
		padding-left: 1.8rem;
	}
}
@keyframes nav_anim{
	from {opacity: 0;}
	to {opacity: 1;}
}
.main_header.fixed_header{
	.header_menu{
		// padding:2rem;//?????????????????????????????
		max-width: 100%;
		background: rgba(33,0,42,0.75);
		position: fixed;
		width: 100%;
		height: 10.8rem;
		// overflow: auto;
		// padding: 2rem 2rem;

		// max-width: 100%;
		// padding: 2rem;
		// &:hover{
		// 	opacity: 0.8;
		// }
		animation-name: nav_anim;
		animation-duration: 0.5s;
		animation-timing-function: ease-in-out;
		@include md{
			height: 8rem;
		}
		// .details{
		// 	font-size: 1.6rem;
		// }
		.contacts{
			// font-size: 1.4rem;
			// font-family: $text-font;
		}
		.logo{

		}
	}
	// .flex_menu.active_nav{
	// 	li{
	// 		padding: 3rem 0;
	// 	}
	// }
	.header_menu.active_nav{////отмена анимации и фона
		background: none;
		animation: none;
		// .flex_menu{
		// 	li{
		// 		padding: 10rem;
		// 	}
		// }
		.logo{
			top: 1rem;
		}
	}
	.header_description{
		// top: 20.8rem;//////////////////////////////////////////////////////////////

		@include md{
			top: 10rem;
		}
	}
}
// .main_header.active_nav{
// 	transition: none !important;////////////////////////////////////////////////////
// }
.header_menu_wrap{
	height: 10.8rem;
	@include md{
		height: 8rem;
	}
}
.header_content{
	z-index: 0;
	&:before{
		content: 'choс';
		position: absolute;
		font-size: 50rem;
		color: $text-dark;
		text-transform: uppercase;
		opacity: 0.12;
		left: 52%;
		z-index: -1;//????????????????????
		top: -10.8rem;
		// top: -50%;
		// top: -50%; //// позиция
		@include lg{
			display: none;
		}
	}
	@include lg{
		padding-top: 14rem;
	}
	// .details{
	// 	font-size: 1.6rem;
	// }
}
.logo_burger_wrap{
	display: flex;
	// align-items: center;
}
.burger.active_nav{
	// .menu_button{
	// 	top: 1%;
	// }
	@include md{
		.menu_button{
			background: none;
			&:before{
				transform: rotate(-45deg);
				top: 50%;
			}
			&:after{
				transform: rotate(45deg);
				top: 50%;
			}
		}
	}
}
.header_menu.active_nav{//////////////////////////////////////////////////
	background: none;
	z-index: 10000;
	height: 100vh;//////////////////////////////////////////////////////////////////////////////////
	// @include md{
	// 	height: 100vh;///не перебивает
	// }

	align-items: flex-start;
	.logo_menu_align{
		z-index: 10000;
	}
	.details{
				padding-top: 0;
				display: flex;
				position: fixed;
				// left:30%;
				background: rgba(19,10,48,0.7);
				height:100%;
				width: 100%;
				text-align: center;
				align-items: center;
				flex-direction: column;
				justify-content: center;
				// z-index: 10000;
				.main_nav{
					// padding-top: 2rem;
					// top:-40%;
					// justify-content: center;
					// text-align: center;
					// z-index: 10000;
					.flex_menu{
						// background: rgba(33,0,42,0.4);
						// padding-top: 2rem;
						display: flex;
						flex-direction: column;
						// position: fixed;
						// width: 100%;
						// height: 100%;
						align-items: center;
						justify-content: center;
						// position: fixed;
						// align-items: center;
						// justify-content: center;
						// z-index: 1000;
						overflow: auto;
						// top: 0;
						ul{
							margin-bottom: 0;
						li{
							padding: 1rem 0;
							a{

							}
						}
					}
					}
				}
				.contacts{
					flex-direction: column;///не видно
					// top: -50%;
					display: flex;
					// width: 100%;
					// height: 100%;
					// align-items: center;
					// justify-content: center;
					z-index: 10000;
					overflow: auto;
					// top: 80%;
					// text-align: center;
					padding-top: 3rem;
					.phone{
						padding: 0 1rem;
					}
					.social-icons{
						padding: 1rem 0;
						a{
							padding: 0 1rem;
						}
					}
				}



	}
}
.header_menu.active_nav.fixed_header{
	.flex_menu{
		li{
			// padding-left: 0;
		}
	}
	.contacts{
		justify-content: flex-start;
	}
}
// .header_menu_wrap.active_nav{
// 	height: 100vh;
// }
// .main_header.active_nav.fixed_header{
// 	.header_menu_wrap{
// 	background: rgba(33,0,42,0);
// }
// }

// .active_nav{//////////////////////////////x
// 	height: 100%;
// 	.main_header.fixed_header{
// 		.header_menu_wrap{
// 			// height: 100%;
// 		}
// 	}
//
//
// 	// .header_description{
// 	// 	@include md{
// 	// 		display: none;///НЕ РАБОТАЕТ????
// 	// 	}
// 	}




.header_description {
	position: absolute;
	top: 10rem;
	margin: auto;
	display: flex;
	align-items: flex-start;
	justify-content:center;
	flex-direction: column;

	// top: 20.8rem;
	&:before{
		content: '';
		position: absolute;
		left: -10%;
		width: 62rem;
		height: 62rem;
		border: 16px solid rgba(114, 107, 177, 0.4);
		z-index: 0;
	}
	h1{
		font-size: 10rem;
		line-height: 1.1;
		padding-bottom: 2rem;
		position: relative;
		text-transform: uppercase;
	}
	h3{
		font-size: 4.2rem;
		opacity: 0.6;
		padding-bottom: 8rem;
		position: relative;
		text-transform: uppercase;
		@include sm{
			padding-bottom: 4rem;
		}
	}
	@include rwd(1600){
		// top: 6rem;
		&:before{
			width: 50rem;
			height: 50rem;
		}
		h1{
			font-size: 8rem;
		}
		h3{
			font-size: 3rem;
		}
	}
	@include xl{
		// top:
		left: 10%;
	}
	@include lg{
		&:before{
			width: 40rem;
			height: 40rem;
			left: -15%;
		}
		h1{
			font-size: 6rem;
		}
		h3{
			font-size: 2rem;
		}
	}
	@include sm{
		left: 10%;
		&:before{
			width: 32rem;
			height: 32rem;
			left: -14%;
		}
		h1{
			font-size: 4rem;
		}
		h3{
			font-size: 2rem;
		}
	}
	@include xs{
		left: 10%;
		&:before{
			display:none;
		}
	}
}


.more_inf{
	font-size: 1.8rem;
	position: relative;
	span{
		z-index: 0;
		position: relative;
	}
	&:before{
		content:'';
		position: absolute;
		width: 4.8rem;
		height: 4.8rem;
		background-color: $extra-accent;
		opacity: 0.6;
		left: 11.5rem;
		bottom: -0.5rem;
		z-index: 0;
	}
}

.story_content{
	padding: 14rem 0 14rem;
	position: relative;
	&:before{
		content: 'choco';
		position: absolute;
		font-size: 13.6rem;
		color: $accent;
		text-transform: uppercase;
		transform: rotate(-90deg);
		right: 75%;
		top: 30%;
		z-index: 0;
		// box-shadow: 0 8px 14px rgba(6,6,6,0.2); Тень от текста?????
	}
	.row{
		align-items: flex-end;
	}
	@include rwd(1600){
		&:before{
			right:72%;
		}
	}
	@include xl{
		&:before{
			display: none;
		}
	}
	@include lg{
		padding: 10rem 0 10rem;
		// &:before{
		// 	display: none;
		// }
	}
	@include md{
		padding: 8rem 0 8rem;
		// &:before{
		// 	display: none;
		// }
	}
}
.first_column_story{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: space-between;
	h2{
		width: 100%;
	}
	.more_inf{
		right: 3.2rem;
		bottom: 0.5rem;
	}
	&:before{
		content: 'c';
		position: absolute;
		font-size: 84rem;
		color: $extra-backcolor;
		text-transform: uppercase;
		right: 50%;
		top:-100%;
		transform: rotate(180deg);
		z-index: -1;
		@include xl{
			top:-90%;
		}
		@include lg{
			top: -80%;
		}
		@include md{
			display: none;
		}
	}
}
.second_column_story{
	position: relative;
	top: 4rem;///??????
	.girl_img{
	height: 40rem;
	width: 100%;
	background: url(../img/dog_girl.jpg) no-repeat center center;
	background-size: cover;
	top: -140%;
	position: absolute;
	box-shadow: 0 8px 14px rgba(6,6,6,0.2);
	@include rwd(1600){
		height: 35rem;
		top: -120%;
	}
	@include xl{
		height: 30rem;
		top: -90%;
	}
	@include lg{
		height: 25rem;
		top: -65%;
	}
	@include md{
		// height: 40rem;
		display: none;
	}
	}
}


	.dark_h{
		font-size: 7.2rem;
		color: $text-dark;
		text-transform: uppercase;
		line-height: 1.1;
		padding-bottom: 4.8rem;
		@include lg{
			font-size: 6rem;
		}
		@include md{
			font-size: 4rem;
		}

	}

	.violet_h{
		font-size: 4.2rem;
		text-transform: uppercase;
		color: $accent;
		padding-bottom: 2.8rem;
	}

	.light-overlay{
		position: relative;
		&:before{
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background-color: $extra-backcolor;
			opacity: 0.8;
		}
	}
	.our_puppies{
		// height: 672px;
		background: url(../img/puppi.jpg) no-repeat 0 100%;
		background-size: cover;
		background-position: top;
	}
	.puppies_content{
		padding: 12rem 0 8rem;
		@include lg{
			padding: 10rem 0 6rem;
		}
		@include md{
			padding: 8rem 0 4rem;
		}
		.right_column{
			position: relative;
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			justify-content: space-between;
			.more_inf{
				padding-top: 4rem;
				right: 1.5rem;
				bottom: 0.5rem;
			}
		}
	}
.first_column_puppi{
	position: relative;
	.puppi_img{
		height: 40rem;
		width: 100%;
		background: url(../img/puppies.jpg) no-repeat center center;
		background-size: cover;
		top: 100%;
		position: absolute;
		box-shadow: 0 8px 14px rgba(6,6,6,0.2);
		z-index: 1;
		@include xl{
			top: 110%;
			height: 30rem;
		}
		@include lg{
			top: 120%;
			height: 25rem;
		}
		@include md{
			display:none;
		}
		}
	}
.second_column_puppi{
	font: 1.8rem "roboto-light";
	position: relative;
	li{
		padding: 3rem 0;
		padding-left: 20%;
		position: relative;
		&:before{
			content: '';
			position: absolute;
			width: 3rem;
			height: 3rem;
			background-color: #fff;
			border-radius: 3rem;
			left: 7%;
			top: 2.8rem;///??????
		}
	}

}
.our_dogs{
		padding: 16rem 0 9rem;
	@include lg{
		padding: 14rem 0 9rem;
	}
	@include md{
		padding: 8rem 0 9rem;
	}
}
.img_dog{
	height: 55.6rem;////????
	width: 100%;
	margin: 4.4rem 0 0;
	position: relative;
	overflow: hidden;
	// @include lg{
	// 	height: 40rem;
	// }
	// @include md{
	// 	height: 20rem;
	// }
	&:hover .overlay {
		background-color: rgba(114, 107, 177, 0.5);
		opacity: 1;
	}
	.overlay{
		position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
		color: $text-white;
		font-size: 2.4rem;
		text-align: center;
		opacity: 0;
		overflow: hidden;
		display: flex;
		align-items: center;
		padding: 0 3%;
		transition: all 0.5s ease;
	}
	img{
		position: absolute;
		width: auto;
		height: 100%;
		margin: 0 auto;
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
		@include md{
			width: 100%;
			height: auto;
		}
		@include sm{
			width: auto;
			height: 100%;
		}
	}
	@include rwd(1600){
		height: 45rem;
	}
	@include lg{
		height: 35rem;
	}
	@include md{
		height: 40rem;
	}
	@include sm{
		height: 30rem;
	}
}



.second_column_dog{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: space-between;
	.imgs_dogs{
		width: 100%;

	}
	.more_inf{
		right: 3.2rem;
		bottom: 0.5rem;
		@include md{
			bottom: 0;
			padding-top: 6rem;
		}
	}
}


.reviews{
	background-color: $extra-backcolor;
	position: relative;
	display: flex;
	align-items: center;
	.review_inner{
		width: 55%;
		margin: 0 auto;
	}
}


.reviews_content{
	padding: 8rem 0;
	.review_item{
		text-align: center;
		&:before{
			content: '' ;
			background: url(../img/quot.png) no-repeat center center;
			width: 6.2rem;
			height: 5.8rem;
			background-size: contain;
			display: block;
    	margin: 0 auto;
		}
	}
	h5{
		font-size: 3.6rem;
		padding: 4rem 0;
		@include sm{
			font-size: 2.5rem;
		}
	}
	p{
		font-size: 2.1rem;
		font-style: italic;
		@include md{
			font-size: 1.6rem;
		}
		@include sm{
			font-size: 1.4rem;
		}
	}
	h6{
		font-size: 1.8rem;
		padding-top: 2.4rem;
	}
}
.arrow{
	padding: 0 6.8rem;
	font-size: 4rem;
	color: $extra-accent;
	&:hover{
		cursor: pointer;
		color: $accent;
	}
	@include sm{
		padding: 0 2rem;
	}
}
.avatar{
	position: relative;
	height: 100px;
	width: 100px;
	border-radius: 50%;
	margin: 0 auto;
	overflow: hidden;
	img{
		position: absolute;
		width: auto;
		height: 100%;
		margin: 0 auto;
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
	}
}
.blog{
	padding: 5.4rem 0;
	.blog_head{
		text-align: center;
		width: 50%;
		margin: 0 auto;
		padding: 6rem 0;
		@include sm{
			width: 90%;
		}
	}
	h6{
		padding: 1.4rem 0;
		font-size: 1.6rem;
		@include lg{
			font-size: 1.4rem;
		}
	}

	@include lg{
		padding: 2rem 0;
	}
	@include md{
		.blog_content{
			width: 60%;
		}
	}
	@include md{
		.blog_content{
			width: 100%;
		}
	}

}
.blog_img{
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 30rem;
	@include xl{
		height: 23rem;
	}
	@include lg{
		height: 18rem;
	}
	@include md{
		height: 40rem;
	}
	@include sm{
		height: 25rem
	}

	img{
		position: absolute;
		width: auto;
		height: 100%;
		margin: 0 auto;
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
	}
}
.blog_footer{
	border-top: 1px solid #ccc;
	padding: 1.2rem 0;
	display: flex;
	justify-content: space-between;
	white-space: nowrap;
	// width: 80%;
	p{
		font-size: 1.4rem;
		padding-right: 1.4rem;
	}
	a{
		font-size: 1.4rem;
		color: $accent;
		// padding-right: 10%;///???
	}
}
.form_back{
	padding: 5.4rem 0;
	text-align: center;
	.form_head{
		// text-align: center;
		width: 50%;
		margin: 0 auto;
		padding: 6rem 0;
		h5{
			font-size: 4.2rem;
		}
	}
	@include lg{
		padding: 2rem 0 5.4rem;
		.form_head{
			width: 100%;
			h5{
				white-space: nowrap;
			}
		}
	}
	@include sm{
		.form_head{
			h5{
				font-size: 3rem;
			}
		}
	}
}




.form_questions{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 40%;
		justify-content: center;
		margin: 0 auto;
		// text-align: center;
		.field{
			width: 100%;
			display: flex;
			margin: 1.4rem 0;
			font-family: $text-font;
			font-size: 1.8rem;
			flex-direction: column;
			// flex-grow: 1;
			input{
				width: 100%;
				height: 5rem;
				border: none;
				padding-left: 2.2rem;
				outline: none;
				box-shadow: 0 0 18px 2px rgba(6,6,6,0.1);
				&:active, &:focus{
					box-shadow: 0 0 18px 2px rgba(114,107,177,0.4);
				}
			}
			textarea{
				width: 100%;
				height: 16rem;
				border: none;
				padding-left: 2.2rem;
				padding-top: 2.2rem;
				resize: none;
				outline: none;
				box-shadow: 0 0 18px 2px rgba(6,6,6,0.1);
				&:focus{
					box-shadow: 0 0 18px 2px rgba(114,107,177,0.4);
				}
			}
			.error_input{
				&:invalid{
					box-shadow: 0 0 18px 2px rgba(255,0,0,0.4);
				}
			}
			.error_message{
				font-size: 1.4rem;
				color: #ff0000;
				text-align: left;
				padding: 1rem 0 0 2.2rem;
			}
	}
	@include lg{
		width: 60%;
	}
	@include sm{
		width: 75%;
	}
}
.send{
	display: flex;
	width: 100%;
	justify-content: flex-end;
	padding-top: 2rem;
	button{
		background-color: $accent;
		border: 0;
		height: 6.2rem;
		width: 19.6rem;
		color: $text-white;
		cursor: pointer;
		transition: 0.3s;
		&:hover{
			background-color: $extra-accent;
		}
	}
}
.dark-overlay{
	position: relative;
	&:before{
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(36,20,42,0.4);
	}
}
//////////////карусель маленькая
.about_dog{
  padding: 8rem 0 0;
  .dogs_photos{
		top: 12rem;
    &:before{
      content: 'b';
  		position: absolute;
  		font-size: 84rem;
  		color: $extra-backcolor;
  		text-transform: uppercase;
  		right: 50%;
  		top:-70%;
  		// transform: rotate(180deg);
      transform: scale(-1, 1);
  		z-index: -1;
      @include md{
  			display: none;
  		}
    }
		.one_photo_slider{
			width:100%;
			height: 40rem;
			.img_main_carousel{
				position: relative;
				overflow: hidden;
				width:100%;
				height: 40rem;
				img{
					position:absolute;
					width: auto;
			    height: 100%;
			    margin: 0 auto;
			    // left: -50%;
			    // top: 50%;
					@include md{
						width: 100%;
				    height: auto;
					}
					@include sm{
						width: auto;
				    height: 100%;
					}
				}
				@include lg{
					height: 35rem;
				}

				@include sm{
					height: 25rem;
				}
			}
			@include lg{
				height: 35rem;
			}
			@include sm{
				height: 25rem;
			}
		}
		@include md{
			top:0;
		}
    // .big_dog_img{
    //   width: 40rem;
    //   margin-top: 8rem;
    //   @include rwd(1600){
    //     //height: 35rem;
    //   }
    //   @include lg{
    //     //height: 25rem;
    //     margin-top: 12rem;
    //   }
    //   @include md{
    //     margin-top: 0;
    //   }
    //
    //   img{
    //     position: absolute;
    // 		width: auto;
    // 		height: 100%;
    // 		margin: 0 auto;
    // 		left: 50%;
    // 		top: 50%;
    // 		transform: translate(-50%,-50%);
    //     @include md{
    //       width: 100%;
    //   		height: auto;
    //     }
    //     @include sm{
    //       width: auto;
    //   		height: 100%;
    //     }
    //   }
    // }
  }
  .small_carousel{
    padding: 2rem 0;
    display: flex;//не работает
    // align-items: flex-end;
    // padding-right: 20%;
		width: 100%;
		height: 14rem;
    // position: relative;
    // .small_dog_img{
    //   display: block;
    //   position: relative;
    // 	overflow: hidden;
    //   height: 10rem;
    //   width: 100%;
    //   //box-shadow: 0 0 18px 2px rgba(6,6,6,0.1);
    //   // margin: 0 10rem 0 0;
    //   img{
    //     position: absolute;
    // 		width: auto;
    //     display: block;
    // 		height: 100%;
    // 		margin: 0 auto;
    // 		left: 50%;
    // 		top: 50%;
    // 		transform: translate(-50%,-50%);
    //   }
    //   @include rwd(1600){
    //     height: 8rem;
    //   }
    //   @include lg{
    //     height: 7rem;
    //   }
    //   @include md{
    //     height: 10rem;
    //   }
    // }
    // .right_arrow{
    //   position: absolute;
    //   right: 5%;
    //   top: 50%;
    //   transform: translateY(-50%);
    //   display: block;
    //   padding: 0;
    //   .arrow{
    //     padding: 0;
    //   }
    // }
		.img_dog_carousel{
			// width:100%;
			height: 10rem;
			position: relative;
			overflow: hidden;
			display: block;
			img{
				position:absolute;
				width: auto;
				height: 100%;
				margin: 0 auto;
				// left: 50%;
				// top: 50%;
			}
		}
		.img_dog_wrap{
			padding-right: 1rem;
		}
		.arrow{
			// float: right;
			padding: 0 4.2rem;
			display: flex;
			align-items: center;
			justify-content: center;
		}
  }

// .small_dog_img-cover {
//   padding-right: 20px;
// }


// .big-dog_img-inner {
//   overflow: hidden;
//   // margin: 0 0;
//   position: relative;
//   overflow: hidden;
//   box-shadow: 0 0 18px 2px rgba(6,6,6,0.1);
//   height: 400px;
//   width: 400px;
// }

// .slick-current {
//   transition: all .15s;
//   transform: scale(0.8);
// }
.dogs_info{
  @include md{
    padding-top: 3rem;
  }
}






  @include md{
    padding: 6rem 0;
  }

	@include md{
		padding: 0;
	}
}//////////////////////карусель маленькая

	.footer_background{
		background: url(../img/dog_child.jpg) no-repeat 0 100%;
		background-size: cover;
		background-position: top;
	}


	.foot_content{
		padding: 10rem 0;
		&:before{
			content: '';
			position: absolute;
			border: 16px solid rgba(114, 107, 177, 0.4);
			// z-index: 0;
			height: 20rem;
			width: 40%;
			right: -5%;
			top: 28%;
			@include lg{
				right: 0;
				top:20%;
			}
			@include md{
				width: 100%;
				top: 60%;
			}
			@include sm{
				top: 58%;
			}
		}
		h2,p{
			color: $text-white;
			margin-bottom: 0;
			padding-bottom: 2rem;
		}
		.social-icons{
			padding: 4rem 0;
			.fa-instagram{
				color: #ff7fd6;
			}
			.fa-facebook-f{
				color: #3b5998;
			}
			.fa-twitter{
				color: #1da1f2;
			}
			.fa-google-plus-g{
				color: #dd4b39;
			}
			a{
				padding: 0 1.8rem 0 0;
			}
		}
		.copyright{
			color: $extra-accent;
		}
		.address{
			padding: 10rem 0;
			font: "montserrat-bold", 1.8rem;
			text-align: right;
			color: $text-white;
			position: relative;
			@include lg{
				// right: 5%;
				padding-right: 5rem;
				padding-bottom: 5rem;
			}
			@include xs{
				padding-right: 3rem;
			}

			.emphasized_phone{
				font-weight: bold;
				font-family: $default-font;
				padding-bottom: 2rem;
				// z-index: 10;
				a{
					color: $text-white;
					transition: 0.3s;
					&:hover{
							text-decoration: none;
							color: $extra-accent;
							cursor: pointer;
					}
				}

			}
		}
		@include lg{
			padding: 4rem 0;

		}
	}

	// .mfp-with-fade {
	//
	//   // before-open state
	//   .mfp-content,
	//   .mfp-arrow,
	//   &.mfp-bg {
	//     opacity: 0;
	//     -webkit-backface-visibility: hidden;
	//     -webkit-transition: opacity 0.3s ease-out;
	//     -moz-transition: opacity 0.3s ease-out;
	//     -o-transition: opacity 0.3s ease-out;
	//     transition: opacity 0.3s ease-out;
	//   }
	//
	//
	//   // open state
	//   &.mfp-ready {
	//     .mfp-content,
	//     .mfp-arrow {
	//       opacity: 1;
	//     }
	//     &.mfp-bg {
	//       opacity: 0.8; // background opacity
	//     }
	//   }
	//
	//   // closed state
	//   &.mfp-removing {
	//     .mfp-content,
	//     .mfp-arrow,
	//     &.mfp-bg {
	//       opacity: 0;
	//     }
	//   }
	//
	//
	// }




// Always at the end
@import "dogs";
@import "one_dog";
@import "puppies";
@import "contacts";
@import "blog";
@import "one_blog";
@import "gallery";
@import "magnific-popup";
